

* {
    padding:0px;
    border:0px;
}

body {
    background-color:yellow;
}

.head {
    margin-top:50px;    
}

.position-right {
    float:right;
    color:red;
}

#menu {
    list-style:none;
    padding-left:20px;
}
#menu li {
        display:inline-block; 
        padding-right:12px;       
}

#menu li a {
    color:white;
    font-size:15pt;
}

.container-size {
    /*height:800px;
    border:2px solid black;*/
}

.footer {
    position:relative;
    top:400px;
    background-color:black;
    color:white;
}

header h1 {
    text-align:center;
}

header {    
    background-color:black;
    color:white;
    padding-top:14px;
    padding-bottom:1px;
    padding-left:5px;
}



.main-left {
    border-left:2px solid black;
}

