  <footer>
            <div class="footer">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - SWEP Project</p>
                </div>
            </div>
        </footer>

